/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */


/****** GENERAL STYLES ******/


.html {
    font-size:  17px;
}


body {
    font-size:  1em;
    font-family: 'Raleway', sans-serif;
    color: #424144;
    text-align: left;
}


ul,ol{
    margin:  0;
    padding: 0;
}


a {
  color: #bf9ded;
  font-weight: 400;
  text-decoration: none;
}




h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25em;
  color: #ffffff;
  font-weight: 400;
  }



h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color:  #ffffff;
  margin:  30px 0px 40px 0px;
  font-size: 2.5em;
  }


h3 {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #424280;
  margin:  0;
}

h4{
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #424280;
  margin-bottom:  20px;



}




h5{
  font-family: 'Adamina',serif;
  font-weight: 500;
  color:  #424280;
  margin:  0;
  font-size: 2.25em;
  letter-spacing: 2px;
}



h6 { 
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: .7em;
  color: #424144;
  margin:  0;
}


p {
  font-size: 1em;
  line-height: 1.285;
  }


img{
  width:  100%;
}


figure {
  margin: 0;
}

address{
  font-style:  normal;
}


.content-wrapper{
  width:  90%;
  margin:  30px 0 30px 0;
}






/****** BASE HEADER STYLES ******/

header, footer { 
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-flow:  row wrap;
}

header{
  background-color: #ffffff;
  padding:  30px 0;
}

header .content-wrapper{
  margin:  0;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  flex-flow:  row wrap;
}

header h2{
  width:  100%;
}


.header-divider{
  background: #8C8CAB;
  height: .25px;
  width:  90%;
  margin:  10px 0 20px 0;
}

header nav {
  width:  100%;
  font-size:  1.125em;
  font-weight:  700;
  text-transform: uppercase;
  display: flex;
  justify-content:  space-around;
  align-items:  center;
  flex-flow: row wrap;
}

header nav ul{
  width:  100%;
  display:  flex;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li{
  display:  flex;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  font-size: .7em;
  color: #424280;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px; 
}

nav ul li a span{
    padding: 5px 10px;
    border: solid #424280 2px;
    width:130px;
    text-align: center;

}



/****** BASE FOOTER STYLES ******/

footer { 
  text-align: center;
  flex-direction: column;
  background-color: #efefef;
  padding-bottom: 30px;
}


footer h2{
  color:  #424144;
  font-weight: 300;
}

footer p{
  margin:  0;
  color:  #424144;
  font-weight: 200;
  font-size: .85em;
}

footer h3 { 
  margin: 40px 0px 25px 0px;
  color:  #424144;
  font-weight: 300;
}

footer .content-wrapper{
  width:  55%;
}

footer .contact, .social {
  margin-bottom: 20px;
}


footer .social-icons{
  display:  flex;
  justify-content: space-evenly;
  align-items:  center;
}


footer .social-icons p{
  display:  flex;
  justify-content: center;
  align-items: center;

}

footer .social-icons p a{
  color:  #67666b;
}


footer .social-icons p i{
  font-size: 1.5em;
}


footer .copyright{
  padding-top: 5px;
}

/* ==========================================================================
   Homepage - Mobile Styles
   ========================================================================== */


/************************  HOMEPAGE - MOBILE - HERO AREA *****************/

.hero-area{
  background-color: #cdd1dc;
  background-size: cover;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  min-height:  600px;
  display:  flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area .content-wrapper{
  margin-bottom: 0px;
  display: flex;
  flex-flow: row wrap;
}

.hero-area h1 { 
  line-height: 1.5em;
  width:  100%;
  margin-right: 0PXpx;
  padding-top: 20px;
  letter-spacing: 1.5px;
  font-size: 3em;
}


.down-arrow{
  display:  flex;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 50px;
  width:  100%;
 }

/*********************** HOMEPAGE - MOBILE - PORTFOLIO *********************/

#portfolio {
  background-color: #f5f5f5;
  min-height: 1000px;
  display:  flex;
  justify-content:  center;
  padding-bottom: 30px;
  
}

.portfolio-pieces{
  display:  flex;
  justify-content: center;
  flex-flow: row wrap;
}

.portfolio-piece{
  display:  flex;
  align-items:  center;
  flex-flow: row wrap;
  width:  100%;
  margin: 30px 15px 30px 15px;
  text-align: left;
}


.portfolio-image{
  width:  100%;
  margin-bottom:  40px;
}


#portfolio p { 
  color: #424144;
  text-align: left;
  margin:  0;
  
}


#portfolio h2{
  text-align: center;
  color: #424144;
}


#portfolio h3{
  margin-bottom:  10px;
  width:  100%;
}


.portfolio-description-sub-heading{
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  width:  100%;
  text-transform: uppercase;
  font-size: .85em;
}


.portfolio-description-sub-heading span{
  padding-bottom: 100px;
}


.view-project-link{
  margin-top: 30px;
  text-decoration: underline;
  font-size: .90em;


}


#portfolio .portfolio-section-button{
  display:  flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.portfolio-section-button a{

  background-color: #8d8dc9;
  padding: 20px 50px 20px 50px;
  text-align: center;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  margin-top: 35px;
 
 
}


/******************** HOMEPAGE - MOBILE - PRAISE SECTION *********************/



#praise {
  background-color: #ffffff;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}


#praise .content-wrapper{
  width:  80%;
}

#praise h2 {
  text-align: center;
  color: #424280;
}


#praise p { 
  color: #424144;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 300;
}

#praise h4{
text-align: right;
font-weight: 200;
 
}


/************************** HOMEPAGE - MOBILE - ABOUT ***********************/



#about {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 0px;
}

#about .content-wrapper{
  width:  80%;
}


#about h2 {
  color:  #424280;
  text-align: center;
  margin-bottom: 50px;
}


#about p { 
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  color: #424144;
}


#about ol{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  list-style-position: outside;
  list-style-type: circle; 

}

#about li{
  margin-top: 20px;
  padding-top: 10px;
  color:  #424144;
  font-weight: 300;
  font-size: 1.15em;
  margin-left: 30px; 
  width:  90%;
}


#about .about-sec-intro{
  width:  100%;
  font-weight: 200;
  font-size: 1.75em;
}



/******************** HOMEPAGE - MOBILE - CASE STUDY  *********************/

#case-study{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color:  #f2ebfb;
  min-height: 500px;
  padding-bottom: 30px;
}



#case-study .content-wrapper {
  width:  80%;
}

#case-study h2 {
  text-align: center;
  color: #424144;
}


#case-study p { 
  color: #424144;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
}



.case-study-sec-button {
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  justify-content: center;
}

.case-study-sec-button a{
  background-color: #8d8dc9;
  padding: 20px 50px 20px 50px;
  text-align: center;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  margin-top: 35px;
  
}


/************************** HOMEPAGE - MOBILE - OFFERINGS ***********************/



#offerings {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 60px;
}

#offerings .content-wrapper{
  width:  80%;
}


#offerings h2 {
  width:  80%;
  color:  #bf9ded;
  text-align: center;
  margin-bottom: 50px;
  font-family: Lato, sans-serif;
  text-align: center;
}

#offerings .site-visitor-question-background{
  background-color: #f5f5f5;
  padding: 10px 5px 10px 5px;
  margin:  0 0 80px 0;

}

#offerings .site-visitor-question{
 display: flex;
 width:  100%;
 justify-content: center;
 align-items: center;

}


#offerings p { 
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  color: #424144;
}


#offerings aside{
  margin:  60px 0 0 0;
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  border-width: 2.5px;
  border-style: solid;
  border-color: #8d8dc9;
  text-align: center;

}

#offerings h3{
  color: #424280;
  padding:  30px 0 10px 0;
  font-weight: 400;
  font-size: 1.25em;
}

#offerings ul{
  list-style-type: none; 
}

#offerings li{
  margin-top: 20px;
  color:  #424144;
  font-weight: 300;
  font-size: 1.25em; 
}



#offerings .offerings-section-button{
  display:  flex;
  width: 100%; 
  justify-content: center;
  margin:  80px 0 0 0;
}


.offerings-section-button a{
  background-color: #8d8dc9;
  padding: 20px 50px 20px 50px;
  text-align: center;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  margin-top: 35px;
}





/* ==========================================================================
   BFF Project Page - Mobile Styles
   ========================================================================== */

#bff-header nav {
  width:  100%;
  font-size:  1.125em;
  font-weight:  700;
  text-transform: uppercase;
  display: flex;
  justify-content:  center;
  align-items:  center;
  flex-flow: row wrap;
  background-color: #ffffff;
}

#bff-header ul{
  width:  100%;
  background-color: #ffffff;
  display:  flex;
  justify-content: space-evenly;
  list-style-type: none;
}


#bff-project-home-link{
  font-size: .9em;
  font-weight: 600;
  text-transform: none; 
}



/******************** BFF PROJECT PAGE - MOBILE - HERO AREA *******************/




#bff h1 { 
  font-size: 3.75em;
  width: 100%;
  margin-left: 35px;
}



/***************** BFF PROJECT PAGE - MOBILE - OVERVIEW SECTION ************/



#overview {
  background-color: #ffffff;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}


#overview .content-wrapper{
  width:  80%;
  padding:  20px 0 20px 0;
}

#overview h2 {
  text-align: center;
  color: #424280;
  padding-bottom: 10px;

}


#overview p { 
  color: #424144;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
}

#overview h4{
text-align: right;
font-weight: 200;
 
}

#overview span{
font-weight: 500;
}




/******************** BFF PAGE - MOBILE - CASE STUDY PROCESS SECTION *********************/

 #case-study-process{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color:  #f2ebfb;
  min-height: 350px;
  padding-bottom: 30px;
}



#case-study-process .content-wrapper{
  width:  80%;
}

 #case-study-process h2 {
  text-align: center;
  color: #424144;
  padding: 20px 0 20px 0;
}


 #case-study-process p { 
  color: #424144;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
}


#case-study-process p{ 
  text-align: center;
  
}


.case-study-process-sec-button{
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: center;
}

 #case-study-process button{
  font-family: Lato, sans-serif;
  font-weight: 300;
  border: none;
  color: #ffffff;
  background-color: #424280;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15em;
  margin: 0 0 0px 0;
  cursor: pointer;
  word-spacing: 3.5px;
}


/***************** BFF PROJECT PAGE - MOBILE - PHASES SECTION ************/

#phases {

  background-color: #f5f5f5;
  min-height: 500px;
  display:  flex;
  justify-content:  center;
  padding-bottom: 30px;
  
}


 .process-portfolio-pieces{
  display:  flex;
  justify-content: center;
  flex-flow: row wrap;
}

.process-portfolio-piece{
  display:  flex;
  align-items:  center;
  flex-flow: row wrap;
  width:  100%;
  margin: 20px 0 60px 0;
  text-align: left;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a1a0a2;

}


#customer-experience-section{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}


#phases .process-portfolio-image{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-top:  30px;
  margin-bottom:  60px;
  flex-flow: row wrap;
}


#phases img{
  display:  flex;
  align-self: center;
}



#phases p { 
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
  color: #424144;
}


#phases h2{
  text-align: center;
  color: #424144;
}


#phases h3{
  font-size: 1.33em;
  margin-bottom:  10px;
  width:  100%;
  color: #bf9ded;
}

#phases h4{
  margin-bottom: 30px;
}


#phases .process-description{
  width:  100%;
}

#phases .initial-process-description-section{
  margin-top: 30px;
  margin-bottom: 45px;
}

 #phases .initial-process-description-section p{
  font-size: 1.65em;
  font-weight: 200;
}

.process-portfolio-description{
  padding-bottom: 10px;
  width:  100%;
}

.process-portfolio-description a{
  color:  #8d8dc9;
  font-weight: 500;
}


#phases .tools-used-section p{
  padding-top: 10px;
  padding-bottom:  20px;
  font-size: 1em;
  font-family: Raleway, sans-serif;
}


#phases .phases-section-button{
  display:  flex;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
}


#phases button{
  font-family: Lato, sans-serif;
  font-weight: 300;
  border: none;
  color: #ffffff;
  background-color: #8d8dc9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15em;
  margin: 0 0 30px 0;
  cursor: pointer;
  word-spacing: 3.5px;
}

/************************ BFF PROJECT PAGE - MOBILE - RESULTS SECTION *********************/


#results {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

#results .content-wrapper{
  width:  80%;
}


#results h2 {
  color:  #424280;
  text-align: center;
  margin-bottom: 50px;
}


#results p { 
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  color: #424144;
}


.results-sec-half-width{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


.results-list-background{
  background-color:  #f2ebfb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width:  85%;
  padding:  20px 0 20px 0;

}



.results-list{
  width: 75%;
  background-color:  #f2ebfb;
  display: flex;
  justify-content: center;
  margin:  0;
  min-height: 300px;
}


#results aside{
  margin:  60px 0 0 0;
  padding:  20px 10px 35px 10px;
  width: 100%;
  min-height: 400px;
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #8d8dc9;
  display:  flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;

}

.results-heading{
  background-color: #f7f7f7;
  height: 100px;
  width:  93%;
  margin: 10px 0px 20px 0px;
  display:  flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
}


#results h3{
  color: #424280;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
  width: 100%;
  margin:  0;
}

#results ul{
  display:  flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%; 
}

#results ul li{
  width:  100%;
  margin-top:  10px;
  margin-bottom: 5px;
  padding: 0 0 0 20px;
  font-weight: 300;
  font-size: 1.15em;
  text-align: left;
  list-style-type: circle;
  list-style-position: outside;
  color:  #424144;
}



#results .results-section-button{
  display:  flex;
  width: 100%; 
  justify-content: center;
  margin:  80px 0 0 0;
}


#results button{
  font-family: Lato, sans-serif;
  font-weight: 300;
  border: none;
  color: #ffffff;
  background-color: #424280;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15em;
  margin: 0 0 0px 0;
  cursor: pointer;
  word-spacing: 3.5px;
}




/*============================================================================
                            TABLET MEDIA QUERY
============================================================================*/


@media only screen and (min-width: 768px){

/******************************* TABLET GENERAL STYLES*****************************/

.content-wrapper{
  max-width:  700px;
}

header { 
  justify-content: space-around;
  padding:  35px 0;
}

header .content-wrapper{
  width:  100%;
  justify-content:  space-between;
}

.logo{
  font-size: .85em;
  width:  40%;
}

header nav {
  width:  50%;
}

header nav ul{
  justify-content: space-between;
}

nav ul li a {
  font-size: .75em;
  font-weight: 600;
}

.header-divider{
  display: none;
}


/******************************** HOMEPAGE - TABLET - HERO - AREA************************************/

.hero-area {
  background: url('../img/header-background-image.png');
  background-position: 50% 30%;
  background-size: cover;
  min-height:  500px;
}



.hero-area h1 { 
  font-size: 2.5em;
  line-height: 1.5em;
  width:  52%;
  margin-right: 200px;
  letter-spacing: 2px;
  padding-top: 25px;
}




.down-arrow{
  margin-top: 45px;
}

/******************************** HOMEPAGE - TABLET - PORTFOLIO SECTION *******************************/



#portfolio {
  min-height: 500px;
  display:  flex;  
}


#portfolio .content-wrapper {
  width:  70%;

}

.portfolio-pieces {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
}



.portfolio-piece {
  display:  flex;
  
  flex-flow: row wrap;
  width:  45%;
  margin: 30px 0;
  text-align: left;
}





/******************************** HOMEPAGE - TABLET - PRAISE - SECTION*******************************/


#praise p { 
  line-height: 1.75em;
}


/******************************** HOMEPAGE - TABLET - ABOUT SECTION *******************************/

#about .about-sec-general{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

#about li{
  width:  90%;
  margin-left: 60px; 
}

#about .about-sec-intro{
  width:  100%;
  font-weight: 200;
  font-size: 2em;
}



/******************************** HOMEPAGE - TABLET - FOOTER STYLES *******************************/


footer .content-wrapper {
  width:  100%;
}


footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: flex-start;
  
}

footer h2 {
  margin-bottom: 10px;
}

footer .contact, .social, .meet-me {
  margin:  0;
  width:  33%;

}


 footer .social {
  min-height: 153px;
 }

footer .social-icons {
  justify-content: space-evenly;
  align-items: flex-end;
  line-height: 0;
  padding-top: 10px;
}


footer .social-icons p {
  display:  flex;
  justify-content: center;
  align-items: flex-end;

}

footer p {
  line-height: 1.285em;
  margin:  0;
}

footer a {
  margin:  0;
}

footer a i{
  margin:  0px;

}

footer .copyright{
  margin:  10px 0 0 0;
}




/* ==========================================================================
   BFF Project Page - Tablet Styles
   ========================================================================== */




#bff-header nav {
  width:  50%;
  font-size:  1.125em;
  font-weight:  700;
  text-transform: uppercase;
  display: flex;
  justify-content:  space-between;
  align-items:  center;
  flex-flow: row wrap;
}

#bff-header ul{
  width:  100%;
}


#bff h1 { 
  font-size: 3.75em;
  width: 70%;
  margin-left: 5px;
}



/****************** BFF PROJECT PAGE - TABLET - OVERVIEW SECTION ************/


#overview p { 
  line-height: 1.5em;
}




/****************** BFF PROJECT PAGE - TABLET - PHASES SECTION ************/



#phases .content-wrapper{
  width: 100%;
}



.process-portfolio-pieces{
  display:  flex;
  justify-content: center;
  flex-flow: row wrap;
}

.process-portfolio-piece{
  display:  flex;
  justify-content: space-between;
  align-items:  center;
  flex-flow: row wrap;
  width:  100%;
  margin: 20px 0 60px 0;
  padding-bottom: 0px;
  text-align: left;
}

#phases .process-description {
  width:  100%;
}

#phases .process-portfolio-image{
  display: flex;
  justify-content: center;
  width:  100%;
  margin-top:  80px;
  margin-bottom:  100px;
  
}

#phases img{
  width:  60%;
}

#phases p { 
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.5em;
  color: #424144;
}

#phases h2{
  margin: 0px 0 75px 0;
  padding: 20px 0 30px 0;
  text-align: center;
  color: #424144;
}


#phases h3{
  margin-bottom: 0px;
  width:  100%;
  font-size: 1.5em;
}

#phases h4{
  margin-bottom: 40px;
}


#phases .process-description-section{
  margin-bottom: 60px;
}
  



 #phases .initial-process-description-section p{
  font-size: 1.75em;
}



#phases .phases-section-button{
  padding-top: 10px;
}





/****************** BFF PROJECT PAGE - TABLET - RESULTS SECTION ************/


#results aside{
  margin:  60px 0 0 0;
  width: 100%;
  min-height: 600px;
}



.results-heading{
  
  margin-top: 50px;
}

#results h3{
  color: #424280;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
}


#results ul li{
  margin-top: 20px;
  color:  #424144;
  font-weight: 300;
  font-size: 1.25em;
  padding-left:  50px; 
  color: #424144;
}


#results p{
  font-size: 1.75em;
}



.results-list-background{
  padding:  30px 0 20px 0;
}



}








/*==========================================================================
                      DESKTOP MEDIA QUERY
===========================================================================*/


@media only screen and (min-width: 1200px){

/******************************* Desktop Base styles here *****************************/


h5{
  font-size: 3em;

}


header{
  padding: 20px 0;
}

.content-wrapper{
  max-width:  960px;
}

/******************************** Desktop - Hero area ************************************/


.hero-area{
  background: url('../img/header-background-image.png');
  background-size: cover;
  background-position: 20% 20%;
  min-height:  700px;
  justify-content: center;
}

.hero-area .content-wrapper{
  margin-bottom: 0px;
}


.hero-area h1 { 
  margin-top: 70px;
  margin-right: 100px;
  letter-spacing: 1.5px;
  font-size: 3em;
  width:  65%;
}


.down-arrow{
  margin-top: 50px;
}


/******************************** HOMEPAGE - DESKTOP - PORTFOLIO SECTION *******************************/


#portfolio .content-wrapper{
  width:  100%;
}

#portfolio h2{
  padding-bottom: 10px;
}


.portfolio-piece{
  width:  45%;
}


.portfolio-description-sub-heading{
  width:  100%;
}


/******************************** HOMEPAGE - DESKTOP - ABOUT SECTION *******************************/


.about-sec-general{
  display:  flex;
  justify-content: flex-start;
}

aside {
  margin:  60px 20px 20px 0;
  width: 30%;
}


#about li{
  width:  90%;
  margin-left: 60px; 
  font-size: 1.25em;
}

#about .about-sec-intro{
  width:  100%;
  font-weight: 200;
  font-size: 2em;
}


/* ==========================================================================
   BFF Project Page - Desktop Styles
   ========================================================================== */


#bff-header nav {
  width:  35%;
  font-size:  1.125em;
  font-weight:  700;
  text-transform: uppercase;
  display: flex;
  justify-content:  space-evenly;
 }


#bff-header ul{
  justify-content: space-around;
  }


#bff h1{
  font-size: 4em;
  line-height: 1.75;
}



/****************** BFF PROJECT PAGE - DESKTOP - PHASES SECTION ************/


#phases h2{
  margin-bottom: 30px;

}

#phases .phases-section-button{
  padding-top: 30px;
}


#phases button{
  margin: 0 0 40px 0;
}






/****************** BFF PROJECT PAGE - DESKTOP - RESULTS SECTION ************/




.results-first-half-width, .results-sec-half-width{
  display:  flex;
  justify-content: center;
}


.results-list-background{
  padding:  40px 0 20px 0;
}


#results ul li{
  margin-top:  10px;
  margin-bottom: 5px;
  padding: 0 0 0 20px;
  font-weight: 300;
  font-size: 1.25em;
  
}


}



/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

